<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>New user</title>
    <style>
        table th, table td, form {
            padding: 10px 5px;
            font-family: sans-serif;
            font-size: 14px;
            border-style: solid;
            border-width: 1px;
            background-color: ivory;
        }
        button {
            padding: 5px;
            background: gold;
        }

        .buttonLogout {
            padding: 5px;
            background-color: deepskyblue;
        }
    </style>
<body>
<h2>Введите данные нового пользователя</h2>
<div>
    <form th:method="POST" th:action="@{/index}" th:object="${user}">
        <input type="hidden" th:field="*{id}" id="id"/>
        <label for="username">Имя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <label for="surname">Фамилия: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br/>
        <label for="password">Пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <label>Роль:
            <select size="2" multiple name="listRoles" required="required">
                <option selected="selected" value="1">USER</option>
                <option value="2">ADMIN</option>
            </select>
        </label>
        <br/>
        <td>
            <input type="submit" class="buttonLogout" value="Создать"/>
        </td>
        <br/>
    </form>
</div>
<button class="buttonLogout" onclick="window.location.href = '/admin/index';">Назад</button>
</body>
</html>